:root {
  --path-light-blue: #0094CE;
  --path-dark-blue: #0047BB;
  --infobox-height: 64px;
  --circle-height: 72px;
  --circle-height-narrow: 56px;
  --topnav-height: 36px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p {
  color: inherit;
  text-decoration: none;
  font-family: "GT America",Helvetica,Arial,FreeSans,sans-serif;
}
