.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.column {
  display: flex;
  flex-direction: column;
}

.infoBox{
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 200px 1fr 50px;
  padding: 0 12px 0 0;
  align-items: center;
  width: 100%;
  height: var(--infobox-height);
  background-color: var(--path-dark-blue);
}

.infoBoxNarrow {
  height: var(--infobox-height-narrow);
  grid-template-columns: 140px 1fr 0;
}

.infoBoxNarrowLocating {
  padding: 0;
  height: var(--infobox-height-narrow);
  grid-template-columns: 140px 1fr 28px;
}

.timeArrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 100%;
  background-color: var(--path-light-blue);
}

.timeArrowNarrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100%;
  background-color: var(--path-light-blue);
}

.timeArrow:after {
  content: " ";
  position: absolute;
  right: calc(calc(var(--infobox-height) / 2) * -1);
  border-top: calc(var(--infobox-height) / 2) solid transparent;
  border-right: none;
  border-left: calc(var(--infobox-height) / 2) solid var(--path-light-blue);
  border-bottom: calc(var(--infobox-height) / 2) solid transparent;
}

.timeArrowNarrow:after {
  content: " ";
  position: absolute;
  right: calc(calc(var(--infobox-height-narrow) / 2) * -1);
  border-top: calc(var(--infobox-height-narrow) / 2) solid transparent;
  border-right: none;
  border-left: calc(var(--infobox-height-narrow) / 2) solid var(--path-light-blue);
  border-bottom: calc(var(--infobox-height-narrow) / 2) solid transparent;
}

.timeStr {
  color: white;
  font-weight: 550;
  font-size: 28px;
}

.timeStrNarrow {
  color: white;
  font-weight: 550;
  font-size: 24px;
}

.locateBtn {
  cursor: pointer;
  border: none;
  background: none;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  opacity: 1;
  animation-name: flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.marqueeText {
  color: white;
  padding: 0 8px;
  font-weight: 500;
  font-size: 22px;
}
