.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.row {
  display: grid;
  grid-template-columns: 80px 1fr 120px;
  grid-column-gap: 36px;
  width: 100%;
  padding: 16px 24px;
  justify-content: start;
  align-items: center;
  background-color: #FAFAFA;
}

.row:not(:last-child) {
  border-bottom: solid 2px lightgray;
}

.lineText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 38px;
}

.timeText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 46px;
}

.minText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 32px;
}

.timeBox {
  display: flex; 
  width: 100%;
  justify-content: flex-end;
}

.infoBox{
  justify-self: flex-end;
  width: 100%;
  height: var(--infobox-height);
  background-color: var(--path-dark-blue);
}

.timeArrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100%;
  background-color: var(--path-light-blue);
}

.timeArrow:after {
  content: " ";
  position: absolute;
  right: calc(calc(var(--infobox-height) / 2) * -1);
  border-top: calc(var(--infobox-height) / 2) solid transparent;
  border-right: none;
  border-left: calc(var(--infobox-height) / 2) solid var(--path-light-blue);
  border-bottom: calc(var(--infobox-height) / 2) solid transparent;
}

.timeStr {
  color: white;
  font-weight: 600;
  font-size: 28px;
}
